name: Build GDExtension
on: push

jobs:
  build:
    strategy:
      matrix:
        include:
          # Debug templates
          - platform: linux
            arch: x86_64
            target-type: template_debug
            os: ubuntu-latest

          - platform: windows
            arch: x86_32
            target-type: template_debug
            os: windows-latest

          - platform: windows
            arch: x86_64
            target-type: template_debug
            os: windows-latest

          - platform: macos
            arch: universal
            target-type: template_debug
            os: macos-latest

          - platform: android
            arch: arm64
            target-type: template_debug
            os: ubuntu-latest

          - platform: android
            arch: arm32
            target-type: template_debug
            os: ubuntu-latest

          - platform: android
            arch: x86_64
            target-type: template_debug
            os: ubuntu-latest

          - platform: android
            arch: x86_32
            target-type: template_debug
            os: ubuntu-latest

          - platform: ios
            arch: arm64
            target-type: template_debug
            os: macos-latest

          - platform: web
            arch: wasm32
            target-type: template_debug
            os: ubuntu-latest

          # Release templates
          - platform: linux
            arch: x86_64
            target-type: template_release
            os: ubuntu-latest

          - platform: windows
            arch: x86_32
            target-type: template_release
            os: windows-latest

          - platform: windows
            arch: x86_64
            target-type: template_release
            os: windows-latest

          - platform: macos
            arch: universal
            target-type: template_release
            os: macos-latest

          - platform: android
            arch: arm64
            target-type: template_release
            os: ubuntu-latest

          - platform: android
            arch: arm32
            target-type: template_release
            os: ubuntu-latest

          - platform: android
            arch: x86_64
            target-type: template_release
            os: ubuntu-latest

          - platform: android
            arch: x86_32
            target-type: template_release
            os: ubuntu-latest

          - platform: ios
            arch: arm64
            target-type: template_release
            os: macos-latest

          - platform: web
            arch: wasm32
            target-type: template_release
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Build
        uses: ./.github/actions/build
        with:
          platform: ${{ matrix.platform }}
          arch: ${{ matrix.arch }}
          build-target-type: ${{ matrix.target-type }}

      - name: Sign
        # Disable sign if secrets are not set
        if: ${{ matrix.platform == 'macos' && env.APPLE_CERT_BASE64 }}
        env:
          APPLE_CERT_BASE64: ${{ secrets.APPLE_CERT_BASE64 }}
        uses: ./.github/actions/sign
        with:
          FRAMEWORK_PATH: bin
          APPLE_CERT_BASE64: ${{ secrets.APPLE_CERT_BASE64 }}
          APPLE_CERT_PASSWORD: ${{ secrets.APPLE_CERT_PASSWORD }}
          APPLE_DEV_PASSWORD: ${{ secrets.APPLE_DEV_PASSWORD }}
          APPLE_DEV_ID: ${{ secrets.APPLE_DEV_ID }}
          APPLE_DEV_TEAM_ID: ${{ secrets.APPLE_DEV_TEAM_ID }}
          APPLE_DEV_APP_ID: ${{ secrets.APPLE_DEV_APP_ID }}

      - name: Delete compilation files
        if: ${{ matrix.platform == 'windows' }}
        shell: pwsh
        run: Remove-Item bin/* -Include *.exp,*.lib,*.pdb -Force

      - name: Upload build file
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}-${{ matrix.arch }}-${{ matrix.target-type }}
          path: ${{ github.workspace }}/bin/*

  merge:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Get Repository Name
        run: echo "repo_name=${GITHUB_REPOSITORY##*/}" >> $GITHUB_ENV

      - name: Setup directory
        run: |
          mkdir -p ${{ github.workspace }}/to-upload/root/addons/$repo_name
          mv ${{ github.workspace }}/demo/addons/$repo_name/${repo_name}.gdextension ${{ github.workspace }}/to-upload/root/addons/$repo_name

      - name: Download build files
        uses: actions/download-artifact@v4
        with:
          path: ${{ github.workspace }}/to-upload/root/addons/${{ env.repo_name }}/bin
          merge-multiple: true

      - name: Delete build files
        uses: geekyeggo/delete-artifact@v5
        with:
          name: "*"

      - name: Upload packaged extension
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.repo_name }}
          path: ${{ github.workspace }}/to-upload/
